<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :content%><br>
    <%= form.text_field :content %>
  </p>
  <% if current_user %>
    <%= form.hidden_field :user_id, value: current_user.id %>
  <% end %>
  <%= form.hidden_field :article_id, value: @article.id %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
