<div class="row">
  <%= form_with(model: article, local: true, class: "container-fluid") do |form| %>
    <% if article.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
        <ul>
          <% article.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <h3><%= @image_path  %></h3>
    <div class="form-row" style="margin-bottom: 16px">
      <div class="col-6">
        <%= form.label :title %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="col-2">
        <%= form.label :category_id%>
        <%= form.select :category_id, Category.all.map {|c| [c.category, c.id]}, {}, { class: "custom-select"} %>
      </div>

      <div class="col">
        <%= form.label :image , style: "margin-bottom: 12px"%>
        <div class="d-flex">
          <% if article.image && article.errors.any? %>
            <%= image_tag(request.base_url + url_for(article.image_attachment), class: "form-img", id: "form-img") %>
          <% elsif article.image.attached? %>
            <%= image_tag(article.thumbnail, class: "form-img", id: "form-img") %>
          <% end %>
          <%= form.file_field :image, class: "form-control-file" %>
        </div>

      </div>
    </div>
    <div class="form-group">
      <%= form.label :content %>
      <%= form.rich_text_area :content, class: "form-control" %>
    </div

    <div class="actions form-group">
      <%= form.submit class: "btn btn-primary" %>
    </div>

  <% end %>
</div>

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        if($('#form-img').length){
          $('#form-img').attr('src', e.target.result);
        } else {
          $('<img id="form-img" class="form-img">').insertBefore("#article_image");
          $("#form-img").attr('src', e.target.result);
        }
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $("#article_image").change(function() {
    readURL(this);
  });
  </script>
