<div class="container">
  <table class="table table-striped  mx-auto">
    <thead class="thead-dark">
      <tr>
        <% if current_user.admin %>
          <th align="center">Author</th>
        <% end %>
        <th align="center">Title</th>
        <th align="center">Content</th>
        <th colspan="2">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @articles.each do |a| %>
      <tr>
        <% if current_user.admin %>
          <td><%= a.user.username %></td>
        <% end %>
        <td><%= a.title %></td>
        <td><%= a.content.to_plain_text.truncate(60)%></td>
        <td><%= a.created_at.strftime("%F") %></td>
        <td>
          <%= link_to "Show", article_path(a), class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_article_path(a), class: "btn btn-warning"  %>
          <%= link_to 'Destroy', article_path(a), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"  %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
