<div class="container">
  <h1><%= @article.title %></h1>
  <p>
    <%= @article.created_at.strftime("%B %d, %Y") %> by <%= link_to @article.user.username, search_path(user: @article.user_id) %>
    <% if current_user && (current_user == @article.user || current_user.admin) %>
      <%= link_to 'Edit', edit_article_path(@article), class: "ml-5" %>
      <%= link_to 'Destroy', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "ml-1 text-danger" %>
    <% end %>
  </p>
  <div class="mb-4">
    <%= image_tag(@article.article_img, class: 'float-right ml-3 mb-2') %>
    <%= @article.content %>
  </div>
  <div id="comments">
      <%= render @article.comments.order(created_at: :asc) %>
  </div>
    <%= render 'comments/form' %>
</div>

<script>
  const newComment = document.querySelector('#comment_content');
  const btn = document.querySelector('input[type="submit"]');

  function toggleBtn(e) {
    if(newComment.value.trim() == "") {
      newComment.value = ""
      btn.disabled = true
    } else {
      btn.disabled = false
    }
  }
  newComment.addEventListener('input', toggleBtn)
</script>
