<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <div class="root-container">
      <%= render 'shared/messages' %>
      <%= yield %>
    </div>
    <%= render 'shared/footer' %>
    <script>
      $('.close').on('click', function () {
        $('.alert').remove()
      })
    </script
  </body>
</html>
